[user]
	name = Matteo Bertamini
	email = matteo@bertamini.net
	signingkey = D70D5F19D70177717E9819C53483296519CC8E12

[alias]
	st = status
	c = !git add -A && git commit
[core]
	excludefile = /Users/mbertamini/.gitignore_global
[commit]
	gpgsign = true
[credential]
        helper = cache --timeout=86400
[includeif "gitdir:~/Code/Work/"]
	path = ~/.gitconfig-work

